/*
* CTC Separate Stylesheet
* Updated: 2025-04-02 12:05:31
*/

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

:root {
  
  --color-main: #dc9f96;
  --color-secondary: #e3d9d0;
  --color-background: #ece2da;
  --color-accent: #3b8e46;
}

body {
  
  font-family: 'Syne', sans-serif;
  margin-left: 0;
  margin-right: 0;
  background-color: white !important;
}


#ast-desktop-header > div > div > div > div > div.site-header-above-section-left.site-header-section.ast-flex.site-header-section-left > div > div > div > span > a{
  
  display: none;
}

.post-128 header {

  display: none;
}


.ast-container, .ast-container-fluid{
  
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

header{
  
  position: relative;
  height: 80px;
}

/* Logo */
#ast-desktop-header > div > div > div > div > div.site-header-above-section-left.site-header-section.ast-flex.site-header-section-left > div > div > span > a > img {

  top: 31px;
  left: 37px;
}

#menu-item-122 > a {

  color: #000000;
}

#menu-item-124 {

  background-color: #DC9F96;
  text-align: center;
}

#menu-item-124 > a {

  color: white !important;
  padding-left: 70px;
  padding-right: 70px;
  height: 80px;
}

#menu-item-124:hover {

  background-color: #C02E44 !important;
}

#masthead .ast-container, .site-header-focus-item , .ast-breadcrumbs-wrapper {

  padding-left: 0;
  padding-right: 0;
}
.ast-hfb-header .site-header {

  margin: 0 !important;
}

#ast-hf-menu-1 > li.menu-item.menu-item-admin > a{

  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
}

/* Centrer le lien Admin dans le menu */
.menu-item-admin {

  text-align: center !important;
}

.menu-item-admin a {

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  height: 100% !important;
}

li.menu-item a {

  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* page d'accueil */

#post-128 > div > div > div.elementor-element.elementor-element-b75c06d.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded{

  background-color: var(--color-secondary);
}

#div-can {

  background-color: var(--color-secondary);
  border-bottom-left-radius: 200px 40px;
  border-bottom-right-radius: 200px 40px;
  position: relative;
  z-index: 1;

}

#left-flower{

  position: absolute;
  z-index: 0;
  top: 33%;
  right: -90%;
}

#right-flower{

  position: absolute;
  z-index: 0!important;
  top: 33%;
  left: -90%;

}

@media screen and (max-width: 768px) {

  #left-flower,
  #right-flower {
    display: none;
  }
}

#post-128 > div > div > div.elementor-element.elementor-element-b75c06d.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div > div > h1{

  font-family: Syne;
  font-weight: 800;
  font-size: 38px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color:#3B8E46;
  margin-top: 100px;
  margin-bottom: 50px;

}


#post-128 > div > div > div.elementor-element.elementor-element-4cee23b.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div > div > h2 {

  font-family: Syne;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: var(--color-accent);
  margin-top: 50px;
}

p{
  font-family: Syne;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: black;
  margin-bottom: 100px;
}

#post-128 > div > div > div.elementor-element.elementor-element-18248ab.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div > div > h2{

  font-family: Syne;
  font-weight: 800;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--color-main);
  margin-top: 50px;

}

#post-128 > div > div > div.elementor-element.elementor-element-18248ab.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded{
  background-color: var(--color-secondary);
}

#post-128 > div > div > div.elementor-element.elementor-element-e3e51c6.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded{
  background-color: var(--color-secondary);
}

#post-128 > div > div > div.elementor-element.elementor-element-f9be835.e-grid.e-con-boxed.e-con.e-parent.e-lazyloaded{
  background-color: var(--color-secondary);
}



#fraise, #pamplemousse, #citron, #framboise {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 393px;
  height: 262px;
}

#fraise {

  background: url("/wp-content/uploads/2025/04/jeremy-bezanger-0QgbyZdhX7k-unsplash-1.png") no-repeat center center ;

}



#pamplemousse   {
  background: url("/wp-content/uploads/2025/07/estudio-bloom-tOitjphtIXU-unsplash-1.png") no-repeat center center ;

}



#framboise   {
  background: url("/wp-content/uploads/2025/07/rodion-kutsaev-4k8xEFW4_3Q-unsplash-1.png") no-repeat center center ;

}



#citron   {
  background: url("/wp-content/uploads/2025/04/estudio-bloom-ezqnxsqUZ80-unsplash-1.png") no-repeat center center ;

}
@media (max-width: 767px) {
  #grille-gouts .e-con.e-flex {
    flex-wrap: nowrap;

  }
}


#post-128 > div > div > div.elementor-element.elementor-element-f9be835.e-grid.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div.elementor-element.elementor-element-f508833.e-con-full.e-flex.e-con.e-child > div.elementor-element.elementor-element-e4e87ad.e-con-full.e-flex.e-con.e-child > div.elementor-element.elementor-element-06f2363.elementor-widget.elementor-widget-heading > div > h3{

  font-family: Syne;
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
  z-index: 1;
}



#post-128 > div > div > div.elementor-element.elementor-element-f9be835.e-grid.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div.elementor-element.elementor-element-8fb3738.e-con-full.e-flex.e-con.e-child > div.elementor-element.elementor-element-75c18cf.e-con-full.e-flex.e-con.e-child > div.elementor-element.elementor-element-457bcce.elementor-widget.elementor-widget-heading > div > h3 {

  font-family: Syne;
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
  z-index: 1;
}



#post-128 > div > div > div.elementor-element.elementor-element-f9be835.e-grid.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div.elementor-element.elementor-element-f508833.e-con-full.e-flex.e-con.e-child > div.elementor-element.elementor-element-b38def6.e-con-full.e-flex.e-con.e-child > div.elementor-element.elementor-element-a43f66f.elementor-widget.elementor-widget-heading > div > h3 {

  font-family: Syne;
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
  z-index: 1;
}



#post-128 > div > div > div.elementor-element.elementor-element-f9be835.e-grid.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div.elementor-element.elementor-element-8fb3738.e-con-full.e-flex.e-con.e-child > div.elementor-element.elementor-element-0ef8052.e-con-full.e-flex.e-con.e-child > div.elementor-element.elementor-element-20ebf68.elementor-widget.elementor-widget-heading > div > h3 {

  font-family: Syne;
  font-weight: 800;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: white;
  z-index: 1;
}




#post-128 > div > div > div.elementor-element.elementor-element-6dd8330.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div > div > div > a {

  width: 198px;
  height: 55px;
  border-style: none;
  background-color: #e0b9b4 !important;
  font-size: 15px;
  font-weight: 400;
  line-height: 37px;
  font-family: 'Syne', sans-serif;
  color: white !important;
  padding: 9px 50px;
  text-decoration: none !important;
  text-transform: none;
  border-radius: 5px !important;
  margin-top: 50px;
  margin-bottom: 100px;
}

#post-128 > div > div > div.elementor-element.elementor-element-6dd8330.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div > div > div > a:hover {

  background-color: #c02e44 !important;
  text-decoration: none !important;
}


#post-128 > div > div > div.elementor-element.elementor-element-6dd8330.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded{

  background-color: var(--color-secondary);
  border-bottom-left-radius: 200px 40px;
  border-bottom-right-radius: 200px 40px;
}


#post-128 > div > div > div.elementor-element.elementor-element-e36a6e3.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div > div > h4{

  font-family: Syne;
  font-weight: 800;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--color-accent);
  margin-top: 50px;
  margin-bottom: 50px;

}

.avis-client {

  vertical-align: middle
}

.avis-client h5 {


  height: 36px;
  font-family: Syne !important;
  font-weight: 700  !important;
  font-size: 30px;


  text-align: left;

  color:#3B8E46 !important;

}

.avis-client p{


  font-family: Syne;
  font-weight: 400;
  font-size: 16px;
  color: black;
  text-align: left!important;

}


#div-avis-clients{

  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  
}




/* page nous rencontrer */


#post-112 > header {

  background-color: var(--color-background);

}

#post-112 > div > div > div.elementor-element.elementor-element-4574e2e.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded{

  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  border-bottom-left-radius: 200px 40px;
  border-bottom-right-radius: 200px 40px;

}

#post-112 > div > div > div.elementor-element.elementor-element-4574e2e.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div.elementor-element.elementor-element-686ed73.e-con-full.e-flex.e-con.e-child > div.elementor-element.elementor-element-ca63567.title-contact.elementor-widget.elementor-widget-heading > div > h1{


  font-family: Syne;
  font-weight: 800;
  font-size: 38px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #D2776A;
}

#post-112 > div > div > div.elementor-element.elementor-element-4574e2e.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div.elementor-element.elementor-element-686ed73.e-con-full.e-flex.e-con.e-child > div.elementor-element.elementor-element-7bb5ec5.texte3.elementor-widget.elementor-widget-text-editor > div > p{


  font-family: Syne;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center !important;
  vertical-align: middle;
  color: #000000
}

#post-112 > div > div > div.elementor-element.elementor-element-4574e2e.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div.elementor-element.elementor-element-b4c41a4.e-con-full.e-flex.e-con.e-child > div > div > img{

  width: 170px !important;
  height: 169px !important;
  left: 100px;
  top: -90px;
  transform: rotate(-90deg) !important;
  margin-top: -80px;
}




#post-112 > div > div > div.elementor-element.elementor-element-de50e1c.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div > div > h2{

  font-family: Syne;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: black;
  margin-top:  50px;
  margin-bottom: 50px;
}

#post-112 > div > div > div.elementor-element.elementor-element-167d3c6.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div.elementor-element.elementor-element-96839ef.e-con-full.e-flex.e-con.e-child > div.elementor-element.elementor-element-0c3c61a.title-megane.elementor-widget.elementor-widget-heading > div > h3{


  font-family: Syne;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: black;
}

#post-112 > div > div > div.elementor-element.elementor-element-167d3c6.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div.elementor-element.elementor-element-efa5f8d.e-con-full.e-flex.e-con.e-child > div.elementor-element.elementor-element-448c835.title-brooke.elementor-widget.elementor-widget-heading > div > h3{

  font-family: Syne;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: black;
}
#post-112 > div > div > div.elementor-element.elementor-element-167d3c6.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div.elementor-element.elementor-element-c4b5177.e-con-full.e-flex.e-con.e-child > div.elementor-element.elementor-element-90e39e3.title-sylvie.elementor-widget.elementor-widget-heading > div > h3{

  font-family: Syne;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: black;
}

#post-112 > div > div > div.elementor-element.elementor-element-167d3c6.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded{


  justify-content: center;
}




#post-112 > div > div > div.elementor-element.elementor-element-d8c6df4.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded{

  background-color: var(--color-secondary);



}

#post-112 > div > div > div.elementor-element.elementor-element-167d3c6.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div{

  margin-bottom: 50px;
}

#post-112 > div > div > div.elementor-element.elementor-element-d8c6df4.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div.elementor-element.elementor-element-b90cf37.title-contact2.elementor-widget.elementor-widget-heading > div > h4{

  font-family: Syne;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: black;
  margin-top:  50px;

}

#wpforms-form-447 > div.wpforms-field-container{

  position: relative;
}

#wpforms-form-447 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 70px auto;
}


#wpforms-form-447 > div.wpforms-field-container {
  width: 70%;
  position: relative;
}


#wpforms-447-field_1,
#wpforms-447-field_2,
#wpforms-447-field_5 {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 1rem auto;
  display: block;
  box-sizing: border-box;
  position: relative;
}

#wpforms-447-field_5{

  height: 237px;
}


#wpforms-field-container form input,
#wpforms-field-container form textarea,
#wpforms-field-container form select {
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-bottom: 1rem;
  padding: 12px;
  font-size: 16px;
  font-family: 'Syne', sans-serif;
}



#wpforms-447-field_5-container {
  position: relative;
  z-index: 1;
}

#wpforms-447-field_5-container::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: -47px;
  width: 100px;
  height: 100px;
  background: url("/wp-content/uploads/2025/04/Group-16.png") no-repeat center;
  background-size: contain;
  z-index: -1;
  opacity: 0.95;
}



#wpforms-submit-447 {
  width: 100%;
  max-width: 200px;
  height: 55px;
  margin: 50px auto 0 auto;
  display: block;
  background-color: #e0b9b4 !important;
  color: white !important;
  font-size: 15px;
  font-weight: 400;
  line-height: 37px;
  font-family: 'Syne', sans-serif;
  padding: 9px 50px;
  border: none;
  text-transform: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#wpforms-submit-447:hover {
  background-color:#c02e44 !important;
}


.elementor-element-5e23bc8 {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 20px;
  box-sizing: border-box;
}




#post-112 > div > div > div.elementor-element.elementor-element-4b82274.e-con-full.e-flex.e-con.e-parent.e-lazyloaded > div > div{

  background-color: var(--color-secondary);
}


/* Page commander */

#post-115 > header,#post-115 > div > div > div.elementor-element.elementor-element-265b349.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded,#post-115 > div > div > div.elementor-element.elementor-element-6d32ee5.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded,#post-115 > div > div > div.elementor-element.elementor-element-9f01822.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded,#post-115 > div > div > div.elementor-element.elementor-element-2b2e62d.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded,#post-115 > div > div > div.elementor-element.elementor-element-2f50424.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded,#post-115 > div > div > div.elementor-element.elementor-element-24a7103.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded,#post-115 > div > div > div.elementor-element.elementor-element-5e7c532.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded,#post-115 > div > div > div.elementor-element.elementor-element-521c38f.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded,#post-115 > div > div > div.elementor-element.elementor-element-9656a8a.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded,#post-115 > div > div > div.elementor-element.elementor-element-8391a86.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded,#post-115 > div > div > div.elementor-element.elementor-element-5e7c532.e-con-full.e-flex.e-con.e-parent.e-lazyloaded{

  background-color: var(--color-accent)!important;

}

#post-115 > div > div > div.elementor-element.elementor-element-265b349.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div > div > h1{


  height: 46px;
  font-family: Syne;
  font-weight: 800;
  font-size: 38px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color:white;

}

#post-115 > div > div > div.elementor-element.elementor-element-9f01822.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div > div > h2{


  height: 36px;
  font-family: Syne;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  vertical-align: middle;
  color:white;
  
}


#fruit-commande {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
  background-color: var(--color-accent);
  margin: 0 auto;

}



#fruit-commande h3 {
  width: 260px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Syne;
  font-weight: 800;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

#fraise2 h3 {
  background-image: url("/wp-content/uploads/2025/07/jeremy-bezanger-0QgbyZdhX7k-unsplash-1.png");
}
#pamplemousse2 h3 {
  background-image: url("/wp-content/uploads/2025/07/estudio-bloom-tOitjphtIXU-unsplash-1.png");
}
#framboise2 h3 {
  background-image: url("/wp-content/uploads/2025/07/rodion-kutsaev-4k8xEFW4_3Q-unsplash-1.png");
}
#citron2 h3 {
  background-image: url("/wp-content/uploads/2025/07/estudio-bloom-ezqnxsqUZ80-unsplash-1.png");
}

#post-115 > div > div > div.elementor-element.elementor-element-2f50424.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded{

  align-items: center;

}

#post-115 > div > div > div.elementor-element.elementor-element-2f50424.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded > div > div.elementor-element.elementor-element-bc3e1b8.e-con-full.e-flex.e-con.e-child{

  margin-left: 90px;
}









#forminator-module-1380 > div:nth-child(2){

    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--color-accent);
  }





#post-115 > div > div > div.elementor-element.elementor-element-8c79d62.e-flex.e-con-boxed.e-con.e-parent.e-lazyloaded{

  background-color: var(--color-accent);
 
}

#html-1 h4{

font-family: Syne;
font-weight: 700;
font-style: Bold;
font-size: 30px;
line-height: 100%;
color: white;
vertical-align: middle;

}

#html-2 h4{ 

font-family: Syne;
font-weight: 700;
font-style: Bold;
font-size: 30px;
line-height: 100%;
color: white;
vertical-align: middle;

}

#group-1 label{

  color: white;

}

#group-2 label{

  color: white;

}



.forminator-row {
  display: flex;
  gap: 0;
}

#group-1 {
  border-right: 2px solid white;
  padding-right: 20px;          
  margin-right: 20px;           
  box-sizing: border-box;  
  flex: 1;                      
}

#group-2 {
  flex: 1;
}





#forminator-module-1380 > div.forminator-row.forminator-row-last > div > div > button {
  width: 100%;
  max-width: 200px;
  height: 55px;
  margin: 50px auto 0 auto;
  display: block;
  background-color: #e0b9b4 !important;
  color: white !important;
  font-size: 15px;
  font-weight: 400;
  line-height: 37px;
  font-family: 'Syne', sans-serif;
  padding: 9px 50px;
  border:5px;
  text-transform: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#forminator-module-1380 > div.forminator-row.forminator-row-last > div > div > button:hover {
  background-color:#c02e44 !important;
}



  
    @media screen and (max-width: 1024px) {
      #ast-mobile-header .mobile-menu-toggle-icon svg {
        fill: green !important;

      }
    }



